/* ======= Base ======= */
html, body {
  height: 100%;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    color: @text-color;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 16px;
    line-height: 1.5;
}


a {
    color: rgba(0, 0, 0, 0.4);
    .transition (all 0.4s ease-in-out);
    &:hover {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.5);       
    }
    &:focus {
        text-decoration: none;
    }
}


.btn, a.btn {
    .transition (all 0.4s ease-in-out);
    font-weight: bold;
    color: #fff;
    background: none;
    .fa {
        color: #fff;
        margin-right: 5px;
    }
    &:focus {
        color: #fff;
    }
}

a.btn-cta, .btn-cta{ 
    padding: 8px 32px;
}

a.btn-cta-primary, .btn-cta-primary { 
    border: 1px solid #fff;
    color: #fff;
    .border-radius(0);
    &:hover {
        border: 1px solid #fff;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
    }
}

.form-control {
   .box-shadow(none);
    height: 40px;
    border-color: rgba(256, 256, 256, 0.3);
    background: rgba(0, 0, 0, 0.1);
    .border-radius(0);
    border-radius:0;
    color: #fff;
    .placeholder(rgba(256, 256, 256, 0.7););
    &:focus {
        border-color: darken(@divider, 5%);
        .box-shadow(none);
    }    
}

.error {
    color: @error;
    font-weight: 500;
    text-align: left;
    padding-top: 5px;
    display: block;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"], 
textarea,
select {
    appearance: none;  /* for mobile safari */
    -webkit-appearance: none;
}

.video-container iframe {
    max-width: 100%;    
}

textarea.form-control {
    height: auto;
}
/* ======= fullpage.js ======= */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: rgba(0, 0, 0, 0.4);
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span  {
    background: rgba(0, 0, 0, 0.5);
}



/* ======= Section ======= */
.section {
    padding-top: 90px;
    padding-bottom: 30px;

    &.has-pattern {
        color: #fff;
        .section-inner {
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 30px;
                width: 100%;
                height: 360px;
                background: rgba(0, 0, 0, 0.1);
            }
            .container {
                position: relative;
                
                .content {                    
                    .content-inner {
                        min-height: 390px;
                        max-width: 500px;
                        display: inline-block;
                        margin: 0 auto;
                        margin-bottom: 30px;
                        padding-top: 75px;
                        padding-bottom: 45px;
                        
                    }
                    .pe-icon {
                        margin-bottom: 15px;
                        text-align: center;
                    }
                    .title {
                        margin-top: 0;
                        margin-bottom: 30px;
                        font-size: 28px;
                        font-weight: 300;
                    }
                    .testimonial {                        
                        max-width: 500px;
                        display: inline-block;
                        margin: 0 auto;
                        margin-bottom: 60px;
                        .quote-container {
                            color: rgba(0, 0, 0, 0.5);
                            .fa {
                                width: 32px;
                                height: 32px;
                                display:inline-block;
                                 margin: 0 auto;
                                .border-radius(50%);
                                color: rgba(256, 256, 256, 0.8);
                                background: rgba(0, 0, 0, 0.1);
                                padding-top: 8px;
                            }
                            .quote {
                                font-size: 14px;
                                border-left: none;
                                position: relative;
                                font-style: italic;
                            }
                            .profile {
                                .border-radius(50%);
                                width: 60px;
                                height: 60px;
                                margin-bottom: 15px;
                                border: 3px solid rgba(256, 256, 256, 0.9);
                            }
                            .source {
                                font-size: 13px;
                                color: rgba(0, 0, 0, 0.3);
                                span {
                                    display: block;
                                }
                            }
                        }
                    }                    
                }
                
            }
            
        }
    }
}

/* ======= Devices ======= */
.device-holder {
    position: relative;
    width: 370px;
    height: 680px;
    max-width:100%;
    margin: 0 auto;        
    &.iphone-holder {        
        &.iphone-gold-holder {
            background: url('../images/devices/iphone6-gold.png') no-repeat center top;
            background-size: contain;
        }
        &.iphone-grey-holder {
            background: url('../images/devices/iphone6-grey.png') no-repeat center top;
            background-size: contain;
        }        
        &.offset-top {
            top: -38px;
        }
        .device-holder-inner {
            position: absolute;
            text-align: center;
            width: 274px;
            top: 67px;
            left: 42px;
            img {
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
    
    &.android-holder {        
       
        background: url('../images/devices/android-black.png') no-repeat center top;
        background-size: contain;
       
        &.offset-top {
            top: -38px;
        }
        .device-holder-inner {
            position: absolute;
            text-align: center;
            width: 278px;
            top: 54px;
            left: 40px;
            img {
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
    .phone {
        display: block;
    }
}

/* ======= Gradients ======= */
.gradient-1 {
    background-image: -webkit-linear-gradient(110deg,@combo-1 10%,@combo-2 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-1 10%,@combo-2 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-1 10%,@combo-2 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-1 10%,@combo-2 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-1 10%,@combo-2 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-1, endColorstr=@combo-2,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
    &.promo {
        a {
            color: darken(@combo-2, 15%);
            &:hover {
                color: darken(@combo-2, 20%);
            }
        }
    }
    
}

.gradient-2 {
    background-image: -webkit-linear-gradient(110deg,@combo-3 10%,@combo-4 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-3 10%,@combo-4 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-3 10%,@combo-4 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-3 10%,@combo-4 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-3 10%,@combo-4 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-3, endColorstr=@combo-4,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;   
    color: #fff; 
}

.gradient-3 {
    background-image: -webkit-linear-gradient(110deg,@combo-5 10%,@combo-6 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-5 10%,@combo-6 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-5 10%,@combo-6 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-5 10%,@combo-6 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(left, @combo-5, @combo-6); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-5, endColorstr=@combo-6,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-4 {
    background-image: -webkit-linear-gradient(110deg,@combo-7 10%,@combo-8 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-7 10%,@combo-8 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-7 10%,@combo-8 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-7 10%,@combo-8 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-7 10%,@combo-8 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-7, endColorstr=@combo-8,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-5 {
    background-image: -webkit-linear-gradient(110deg,@combo-9 10%,@combo-10 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-9 10%,@combo-10 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-9 10%,@combo-10 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-9 10%,@combo-10 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-9 10%,@combo-10 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-9, endColorstr=@combo-10,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-6 {
    background-image: -webkit-linear-gradient(110deg,@combo-11 10%,@combo-12 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-11 10%,@combo-12 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-11 10%,@combo-12 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-11 10%,@combo-12 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-11 10%,@combo-12 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-11, endColorstr=@combo-12,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-7 {
    background-image: -webkit-linear-gradient(110deg,@combo-13 10%,@combo-14 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-13 10%,@combo-14 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-13 10%,@combo-14 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-13 10%,@combo-14 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-13 10%,@combo-14 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-13, endColorstr=@combo-14,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-8 {
    background-image: -webkit-linear-gradient(110deg,@combo-15 10%,@combo-16 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-15 10%,@combo-16 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-15 10%,@combo-16 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-15 10%,@combo-16 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-15 10%,@combo-16 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-15, endColorstr=@combo-16,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

.gradient-9 {
    background-image: -webkit-linear-gradient(110deg,@combo-17 10%,@combo-18 90%), url("../images/background/diamond_upholstery.png");
    background-image: -moz-linear-gradient(110deg,@combo-17 10%,@combo-18 90%), url("../images/background/diamond_upholstery.png");
    background-image: -o-linear-gradient(110deg,@combo-17 10%,@combo-18 90%), url("../images/background/diamond_upholstery.png");
    background-image: linear-gradient(110deg,@combo-17 10%,@combo-18 90%), url("../images/background/diamond_upholstery.png");
    background-image: -ms-linear-gradient(110deg,@combo-17 10%,@combo-18 90%); /* IE 10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@combo-17, endColorstr=@combo-18,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-blend-mode: multiply;
    color: #fff;
}

/* ======= Nav ======== */
.navmenu {
    z-index: 10;
    background: @color;
    color: #fff;
    .box-shadow(none);
    border-left: 0;
    padding-top:30px;
    border-width: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
    .nav-item {
        padding: 10px 15px;
        text-align: center;
        margin-bottom: 1px;
        text-transform: uppercase;
        font-size: 14px;
        a {
            color: rgba(256, 256, 256, 0.4);
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
        
        &.active {
            a {
                color: #fff;
            }
        }
        &:hover {
            background: lighten(@color, 5%);
            cursor: pointer;
            a {
                color: #fff;
            }
        }
        &.dropdown {
            &.open {
                background: lighten(@color, 5%);
                .dropdown-toggle {
                    margin-bottom: 10px;
                }
            }
            .dropdown-toggle {
                .fa {
                    margin-left: 10px;
                }
            }
            .dropdown-menu {
                z-index: auto;
                position: static;
                background: lighten(@color, 5%);
                .border-radius(0);
                float: none;
                min-width: inherit;
                text-align: center;
                padding: 0;
                margin-top: 15px;
                margin-bottom: 0px;
                .box-shadow(none);
                border:none;
                text-transform: none;
                font-size: 0.9rem;
                li {
                    
                    a {
                       color: rgba(256, 256, 256, 0.5);
                       padding: 10px 0;
                       &:hover, &:focus {
                           color: #fff;
                           background: lighten(@color, 10%);
                       }
                    }
                }
            }
        }
    }
    
    .social-icons {
        display: inline-block;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 2px solid rgba(256, 256, 256, 0.2);
        border-bottom: 2px solid rgba(256, 256, 256, 0.2);
        margin-bottom: 45px;
        li {
            margin-right: 10px;
            &.last {
                margin-right: 0;
            }
            a {
                color: rgba(256, 256, 256, 0.8);
                display: block;
                &:hover {
                    color: #fff;                 
                }
            }
        }
        .fa {
            font-size: 22px;
        }
    }
    
    .download-buttons {
        margin-bottom: 30px;
        li {
            margin-bottom: 15px;
        }
        a {
            display: inline-block;
            text-indent: -9999px;
            overflow: hidden;
            width:120px;
            text-align: left;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(256, 256, 256, 0.5);
            .border-radius(4px);
            &:hover {
                .opacity(1);
                background: rgba(0, 0, 0, 0.3);
                border: 1px solid #fff;
            }
        }
    }    
    
}

.navmenu, .navbar-offcanvas {
    width: 240px;
}

.dropdown-toggle::after {
    display: none;
}

/* ====== Canvas ====== */
.canvas-wrapper {
  position: relative;
  left: 0;
  z-index: 20;
  min-height: 100%;
}

/* ======= Header ======= */
.header {
    
    height: 60px;
    .transition (all 0.4s ease-in-out);
    &.header-change {    
        .social-container {
            display: none;
        }  
    }
    .container {
        position: relative;
    }
    a {
        color: #fff;
    }
    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin-top: 15px;
        position: relative;
        z-index: 10;
        display: inline-block;
        
        a {
            text-decoration: none;
        }
    }
    
    .social-container {
        position: absolute;
        top: 0;
        width:100%;
        top: 20px;
        left: 0;
        .social-icons {
            margin-left: 0;
            li {
                margin-right: 15px;
                &.last {
                    margin-right: 0;
                }
                a {
                    .opacity(0.9);
                    &:hover {
                        color: rgba(0, 0, 0, 0.4);                      
                    }
                }
            }
            .fa {
                font-size: 20px;
            }
        }
    }
    
    
    .navbar-wrapper {
        position: absolute;
        top: 15px;
        right: 15px;
        .navbar-label {
            color: rgba(256, 256, 256, 0.8);
            font-weight: 700;
            font-size: 14px;
            position: relative;
            top: 4px;
            float: left;
        }        
        
        &:hover {
            cursor: pointer;
            .navbar-label {
                color: #fff;
            }
            button {
                .icon-bar {
                    background: #fff;
                }
            }
        }
        .navbar-toggle {
            display: block;
            float: left;
            .border-radius(0);
            margin-top:-5px;
            padding: 9px 10px;
            border: none;
        }
        button {
            background: none;
            color: #fff !important;
            margin: 0;
            
            &:focus {
                outline: none;
            }
            .icon-bar {
                display: block;
                width: 22px;
                .transition (all 0.4s ease-in-out);
                background-color: rgba(256, 256, 256, 0.8);
                height: 3px;
                & + .icon-bar {
                    margin-top: 5px;
                }
            }
        }
        
    }
}

/* ======= Promo section ======= */ 

@keyframes arrow-animation{
    from{top:0px;} to{top:-10px;}
}
@-webkit-keyframes arrow-animation{
    from{top:0px;} to{top:-10px;}
}
@-moz-keyframes arrow-animation{
    from{top:0px;} to{top:-10px;}
}
@-o-keyframes arrow-animation{
    from{top:0px;} to{top:-10px;}
}
.promo {    
    .arrow-holder {
        position: relative;
        z-index: 10;
        top: -90px;

        a {
            color: #fff;
            .opacity(0.9);
            &:hover {
                text-decoration:none;
                .opacity(1);
                color: #fff;
            }
        }
        .lead-text {
            font-size: 14px;
        }
        .animate {
            position: relative;
            top: 0px;
            animation: arrow-animation 750ms ease-in-out infinite alternate;
            -moz-animation: arrow-animation 750ms ease-in-out infinite alternate;
            -webkit-animation: arrow-animation 750ms ease-in-out infinite alternate;
            -o-animation: arrow-animation 750ms ease-in-out infinite alternate;
        }
    }
    .intro-area {
        z-index:10;
        position: relative;
        padding-top: 45px;
        text-align:right;
        
        .title {
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 36px;
        }
        .intro {
            margin-bottom: 30px;
        }
        .video-container {
            position: relative;
            display: inline-block;
            text-align: center;
            .border-radius(4px);
            border: 4px solid rgba(0, 0, 0, 0.1);
            .play-trigger {
                position: absolute;
                width: 100%;  
                left: 0;
                top: 50%;  
                margin-top:-16px;
                
                .fa {
                    color: rgba(0, 0, 0, 0.8);
                    background: rgba(256, 256, 256, 0.8);
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    padding-top:8px;
                    padding-left: 2px;
                    .border-radius(50%);
                    
                }
                
                &:hover {
                    .fa {
                        background: rgba(0, 0, 0, 0.8);
                        color: #fff;
                    }
                }
                &:focus {
                    outline: none;
                }
                           
            }
        }
    }
    .download-area {
        padding-top: 45px;
        z-index:10;
        position: relative;
        .download-buttons {
            margin-bottom: 30px;
            li {
                margin-bottom: 15px;
            }
            a {
                display: inline-block;
                text-indent: -9999px;
                overflow: hidden;
                width:180px;
                text-align: left;
                background: rgba(0, 0, 0, 0.2);
                .border-radius(4px);
                &:hover {
                    .opacity(1);
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .summary {
            color: rgba(0, 0, 0, 0.4);
            
            li {
                font-weight: 600;
                margin-bottom: 10px;
                font-size: 16px;
            }
            .fa {
                margin-right: 5px;
            }
            a {
                color: rgba(0, 0, 0, 0.4);
                &:hover {
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    
    .iphone-holder {
        .owl-theme .owl-controls {
            margin-top: 80px;
        }
    }
    
    .android-holder {
        .owl-theme .owl-controls {
            margin-top: 120px;
        }
    }
    
}

/* ======= cta-section ======= */
.cta-section {

    .title {
        padding-top: 60px;
        font-size: 28px;
        font-weight: 300;
        max-width: 680px;
        margin: 0 auto;
        line-height: 1.5;
    }

    .press {
        .press-inner {
            background: rgba(0, 0, 0, 0.1);
        }
        .title {
            margin-bottom: 30px;
        }
        
        .press-list {
            padding-bottom: 60px;   
            li {
                img {
                    .opacity(0.8);
                    &:hover {
                        .opacity(1);
                    }
                }
            }        
        }
        
    }
    
    .download {
        margin-bottom: 60px;
        .title {
            margin-bottom: 60px;
        }
        
        .download-list {
            margin-left: 0; 
            margin-bottom: 60px;
        }
        
        .btn {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 15px;
            .fa {
                margin-right: 10px;
                font-size: 20px;
            }
        }
        .qr-holder {
            img {
                width: 150px;
                margin-bottom: 15px;
            }
            .caption {
                font-size: 14px;
            }
        }
    } 
}

.press-coverage-section {
    .section-inner {
        padding-bottom: 30px;
    }
}

/* ======= Footer ======= */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: lighten(@color, 10%);
    color: rgba(256, 256, 256, 0.6);
    a {
       color: rgba(256, 256, 256, 0.6);
       &:hover {
           color: rgba(256, 256, 256, 0.8);
       } 
    }
    .links {
        margin-left: 0;
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 14px;
        text-transform:uppercase;
        li {
            margin-right: 30px;
            margin-bottom: 15px;
            &.last {
                margin-right: 0;
            }
        }
        &.legal-links {
            font-size: 13px;
            margin-left: 0;
            li {
                margin-right: 0;
                padding: 0;
                &:after {
                    content: "|";
                    display: inline-block;
                    padding: 0 10px;
                }
                &.last:after {
                    display: none;
                }
            }
        }
        
    }
    .social-icons {
        margin-left: 0;
        margin-bottom: 30px;
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .copyright {
        font-size: 13px;
        margin-bottom: 15px;
        display: block;
    }

}

/* ======= article ======== */
.article {
    padding-top: 120px;
    padding-bottom: 90px;
    .title {
        font-size: 36px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 60px;
        & + .intro {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* ======= About page ======== */

.about-section {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    .subtitle {
        margin-bottom: 30px;
        margin-top: 0;
        font-size: 28px;
        font-weight: 300;
    }
    .content {
        margin-bottom: 30px;
    }
}
.team-section {
    background: rgba(0, 0, 0, 0.1);
    padding: 60px;
    margin-bottom: 60px;
    .subtitle {
        margin-bottom: 30px;
        margin-top: 0;
        font-size: 28px;
        font-weight: 300;
    }
   .member {
       text-align: center;     
       margin-bottom: 30px;  
       .member-inner {
           position: relative;
       }
       .mask {
           position: absolute;
           .opacity(0);
           display: block;
           background: rgba(0, 0, 0, 0.4);
           color: #fff;   
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;   
           text-decoration: none;     
           .transition (all 0.4s ease-in-out);      
           
           .mask-inner {               
               position: relative;
               top: 50%;
               .translate(0, -50%);
           }
           
           span {
               display: block;
               .pe-icon {
                   margin-bottom: 5px;                   
               }

           }     
       }
       &:hover {
           .mask {
               .opacity(1);
           }
       }
       .profile {
           .info {
               background: rgba(0, 0, 0, 0.3);
               padding: 15px 5px;
           }
           .name {
               font-size: 16px;
               margin-top: 0;
               margin-bottom: 10px;
           }
           .job-title {
               font-size: 13px;
               margin-top: 0;
               margin-bottom: 0;
               color: rgba(256, 256, 256, 0.5);
           }
       }
   } 
}

/* ======= Press page ======== */
.press {
    .title {
        margin-bottom: 30px;
    }
    .intro {
        margin-bottom: 60px;
    }
    .press-coverage-section {
        margin-bottom: 90px;
        background: rgba(0, 0, 0, 0.1);
        
        .item-inner {
            
            color: #fff;
            padding: 60px 30px;

            img {
                margin:0 auto;
                display: block;
                margin-bottom: 0;
            }
            .mention {
                border-left: 0;
                padding: 0 15px;
                margin: 0;                
                text-align: center;
                position: relative;
                font-style: italic;
                .fa {                    
                    text-align: center;
                    left: -45px;
                    top: 0;
                    width: 32px;
                    height: 32px;
                    padding-top: 8px;
                    display: block;
                    background: rgba(0, 0, 0, 0.1);
                    font-size: 16px;
                    .border-radius(50%);
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
    
    .press-release-section {
        .section-inner {
            background: rgba(0, 0, 0, 0.1);
            padding: 60px;
            margin-bottom: 30px;
            .subtitle {
                margin-bottom: 30px;
                margin-top: 0;
                font-size: 28px;
                font-weight: 300;
            }
            .btn {
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .doc-list {
                text-align: left;
                li {
                    padding-left: 22px;
                    position: relative;
                    margin-bottom: 15px;
                    a {
                        color: #fff;
                    }
                    .fa {
                        position: absolute;
                        left: 0;
                        top: 3px;
                    }
                    .date {
                        .opacity(0.5);
                    }
                }
            }
        }        
    }
    .press-kit-section {
        .section-inner {
            background: rgba(0, 0, 0, 0.1);
            padding: 60px;
            margin-bottom: 30px;
            .subtitle {
                margin-bottom: 30px;
                margin-top: 0;
                font-size: 28px;
                font-weight: 300;
            }
            .btn {
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }        
    }
    
    .press-cta {
        padding-top: 60px;
        margin-bottom: 60px;
        .subtitle {
            margin-bottom: 30px;
            margin-top: 0;
            font-size: 28px;
            font-weight: 300;
        }
    }

}

.owl-theme .owl-controls .owl-page span {
    background: #fff;
}

.owl-theme .owl-controls {
    margin-bottom: 60px;
}



/* ======= Pricing page ======== */
.pricing {
    .title {
        margin-bottom: 30px;
    }
    .intro {
        margin-bottom: 120px;
    }
    .pricing-section {
        .item {
            margin-bottom: 60px;
        }
        .item-recommended {
            margin-top: -40px;
            .item-inner {
                border: 5px solid rgba(256, 256, 256, 0.5);
                .heading-mark{
                    background: rgba(256, 256, 256, 0.3);    
                    font-size:  13px;
                    display: inline-block;
                    padding: 8px 10px;    
                    color: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    text-transform: uppercase;        
                }
                .content {
                    padding-bottom: 60px;
                }
            }
        }
        .item-inner {
            background: rgba(0, 0, 0, 0.1);            
            .title {
                font-size: 22px;
                margin-bottom: 0;
                padding: 30px;
                text-transform: uppercase;
            }
            .price-figure {
                background: rgba(0, 0, 0, 0.1);
                padding: 15px;
                margin-bottom: 0;
                .currency {
                    font-size: 36px;
                    font-weight: 300;
                }
                .number {
                    font-size: 46px;
                }
                .unit {
                    .opacity(0.8);
                    text-transform: uppercase;
                    font-size: 13px;
                }
                .decimal {
                    font-size: 18px;
                    font-style: normal;
                    vertical-align: super;
                }
            }
            .content {
                padding: 30px;
            }
            .feature-list {
                text-align: left;
                li {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 10px 0;
                    &.disabled {
                        color: rgba(0, 0, 0, 0.25);
                    }
                    .pe-icon {
                        margin-right: 5px;
                    }
                }
            }
            .btn {
                margin-top: 15px;
            }
        }
    }
}

/* ======= FAQs page ======== */
.faqs {    
    .title {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .intro {
        margin-bottom: 30px;
    }
    .search-section {
        max-width: 580px;
        margin: 0 auto;
        margin-bottom: 60px;
        .form-group {
            position: relative;
            margin-bottom: 0;
            .btn {
                position: absolute;
                right: 0;
                top: 1px;
                border: none;
                background: rgba(0, 0, 0, 0.2);
                height: 38px;
            }
        } 
    }
    .faqs-section {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        padding: 60px;
        margin-bottom: 60px;
        .subtitle {
            margin-bottom: 30px;
            margin-top: 0;
            font-weight: 300;
        }
    }
    .card {
        background: none;
        border: 1px solid rgba(256, 256, 256, 0.5);
        color: #fff;
        .border-radius(0);
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .card-header {
            padding: 15px 30px;     
            background: none;
            border: none;
            .border-radius(0);      
        }
        .card-body{
            padding: 30px;
            padding-top: 0;
            color: #fff;
        }
        .card-title {
            font-weight: normal;
            color: #fff;
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 0;
            a {
                color: #fff;
                text-decoration: none;
            }
            .active {
                color: #fff;
            }
            .card-toggle {
                position: relative;
                padding-left: 40px;
                &:hover {
                    color: #fff;
                }
                .pe-icon {
                    margin-right: 10px;
                    //color: #fff;
                    position: absolute;
                    left: 0px;
                    top: -2px;
                    font-size: 28px;
                }
            }
        }
    }
    .lead {
        margin-top: 30px;
        .subtitle {
            margin-top:0;
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 30px;
        }
    }

}

/* ======= FAQs tabs ======= */

.nav-tabs {
    border: none;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
    font-size: 16px;
   
   .nav-item {
       margin-right: 30px;
       text-transform: uppercase;
       &.last {
           margin-right: 0;
       }
       
       .nav-link {
           .border-radius(0);
           
           color: rgba(256, 256, 256, 0.5);
           padding: 10px 15px;           
           font-size: 14px;
           background: transparent;
           border: none;
           
           &:hover {
               background: transparent;
               border: none;
               color: rgba(256, 256, 256, 0.8);
           }
           &.active {
               color: #fff;
               background: transparent;
               border: none;
               border-bottom: 2px solid #fff;
               &:hover, &:focus {
                   border: none;
                   border-bottom: 2px solid #fff;
                   background: transparent;
                   color: #fff;
               }
           }
           
       }

   }  
     
}

/* ======= Jobs page ======== */
.jobs {
    .promo-section {
        background: rgba(0, 0, 0, 0.1);
        color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 60px;
        .subtitle {
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 28px;
        }
        .intro {
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 800px;
        }

        .btn {
            margin-top: 30px;
            margin-bottom: 0;           
        }
        .figure {
            img {
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
    .jobs-section {
        .subtitle {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 28px;
            font-weight: 300;
        }
        .intro {
            margin: 0 auto;
            margin-bottom: 30px;
            max-width: 800px;
        }
        .section-inner {
            background: rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 60px;
        }
        .job-list-wrapper {
            .item {                
                margin-bottom: 30px;
                .item-inner {
                    border: 1px solid rgba(256, 256, 256, 0.5);
                    background: rgba(0, 0, 0, 0.1);
                    padding: 30px;
                }
                .meta {
                    
                    li {
                        .opacity(0.5);
                        &:after {
                            content: "\f111";
                            padding-left: 10px;
                            font: normal normal normal 5px/1 FontAwesome;
                            position: relative;
                            bottom: 3px;
                        }
                        &.last {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                .job-title {
                    font-size: 22px;
                    font-weight: 300;
                    margin-top: 0;
                    margin-bottom: 15px;
                    a {
                        color: #fff;
                    }
                }
                
            }
        }
        
    }
    .owl-theme .owl-controls {
        margin-top: 60px;
        margin-bottom: 0;
    }
    
    .owl-carousel {
        position: relative;
        .video-container {
            max-width: 600px;
            margin: 0 auto;
        }
        .owl-buttons {   
            position: absolute;
            z-index: 20;
            width:100%;
            top: 50%;       
            margin-top: -32px;
            text-align: center;  
            div {
                padding:0;
                margin: 0;
                .border-radius(0);
                
            }
            .owl-prev {
                float: left;
                background: none;
                &:before {
                    display: inline-block;
                    content: "\e686";
                    font-family: 'Pe-icon-7-stroke';
                    font-size: 64px;
                    speak: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    background: rgba(0, 0, 0, 0.1);
                }
            }
            .owl-next {
                float: right;  
                background: none;                          
                &:before {
                    display: inline-block;
                    content: "\e684";
                    font-family: 'Pe-icon-7-stroke';
                    font-size: 64px;
                    speak: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    
}

/* ======= Job-single page ======== */
.job-single {
    .header-wrapper {

        .nav-link {
            margin-bottom: 30px;
            display: inline-block;
        }
    }
    .title {
        margin-bottom: 15px;
    }
    .meta {
        margin-bottom: 60px;
        li {
            .opacity(0.4);
            &:after {
                content: "\f111";
                padding-left: 10px;
                font: normal normal normal 5px/1 FontAwesome;
                position: relative;
                bottom: 3px;
            }
            &.last {
                &:after {
                    display: none;
                }
            }
        }
    }
    .job-section {
        .section-inner {
            background: rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 60px;
            .job-title {
                margin-top: 0;
                margin-bottom: 15px;
                font-weight: 300;
                font-size: 32px;
            }
            
            .content {
                .subtitle {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: 300;
                    padding-bottom: 10px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-bottom: 2px solid rgba(256, 256, 256, 0.8);
                }
                li {
                    margin-bottom: 5px;
                }
                .cta-container {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* ======= Blog Home ======== */
.blog-list {
    .item {
        margin-bottom: 60px;
    }
    .item-inner {
        background: rgba(0, 0, 0, 0.1);
        
        .figure-wrapper {
            img {
                display: inline-block;
                margin: 0 auto;
            }
        }
        
        .content-wrapper {
            padding: 30px 60px;            
            .post-title {
                margin-top: 0;
                margin-bottom: 30px;
                font-weight: 300;
                font-size: 28px;
                a {
                    color: #fff;
                }
            }
            .meta {
                position: relative;
                padding-left: 80px;
                color: rgba(256, 256, 256, 0.6);
                font-size: 14px;
                margin-bottom: 30px;
                
                .author-profile {
                    position: absolute;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    left: 0;
                    top: 0;
                }
                a {
                    color: rgba(256, 256, 256, 0.6);
                    &:hover {
                        color: #fff;
                    }
                }
                .meta-list {
                    padding-top: 0px;
                }
            }
        }
    }
}

.pagination {
    margin-top: 30px;

    li {
        a {
            .border-radius(0);
            border: none;
            margin-right: 10px;
            color: rgba(256, 256, 256, 0.8);
            background-color: transparent;
            border: 1px solid rgba(256, 256, 256, 0.5); 
            font-size: 12px;
            &:hover {
                color: #fff;
            }
        }
    }
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: rgba(256, 256, 256, 0.2);
    background: none;
    border:1px solid rgba(256, 256, 256, 0.2); 
}

.page-item.disabled .page-link {
    color: rgba(256, 256, 256, 0.2);
    background: none;
    border:1px solid rgba(256, 256, 256, 0.2); 
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: rgba(0, 0, 0, 0.2);
    border:1px solid #fff; 
}

.page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0.2);
    border:1px solid #fff; 
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus  {
    background-color: rgba(0, 0, 0, 0.2);
    border:1px solid #fff;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    .border-radius(4px);
    background:none;
}

/* ======= Blog single ======== */
.blog-post-wrapper {
        
    .nav-link {       
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
        
    .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 0;
    }
    
    .post-meta {
        margin-bottom: 60px;     
        li {
            .opacity(0.5);
            .transition (all 0.4s ease-in-out);
            a {
                color: #fff;
            }
            &:hover {
                .opacity(1);
            }
            &:after {
                content: "\f111";
                padding-left: 10px;
                font: normal normal normal 5px/1 FontAwesome;
                position: relative;
                bottom: 3px;
            }
            &.last:after {
                display: none;
            }
        }
    }
    .post-wrapper {
        background: rgba(0, 0, 0, 0.1);
        padding: 60px;
        .post-figure {
            text-align: center;
            margin-bottom: 30px;
            img {
                margin: 0 auto;
                display: block;
            }
            
        }
        ul {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .post-block {
            margin-top: 45px;
            margin-bottom: 45px;
        }
        .custom-quote {                                    
            margin: 0 auto;
            max-width: 600px;
            margin-top: 60px;
            margin-bottom: 60px;
            
            .quote-box {
                background: rgba(0, 0, 0, 0.1);
                border-left: none;
                padding: 0;
                padding: 30px;
                font-size: 24px;
                font-weight: 300;
                position: relative;
                font-style: italic;
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid rgba(0, 0, 0, 0.1);
                    position: absolute;
                    bottom: -10px;
                    margin-left: -10px;
                    left: 50%;
                }
            }
            
            .fa {
                position: absolute;
                left: -30px;
                color: rgba(0, 0, 0, 0.3);
            }
            .source {
                text-align: center;
                font-size: 18px
            }
        }
        
        .post-nav {
            margin-bottom: 60px;
            .nav-next {
                float: right;
                .fa {
                    margin-left: 5px;
                }
            }
            
            .nav-previous {
                .fa {
                    margin-right: 5px;
                }
            }
        }
        
        .author-area {
            background: rgba(0, 0, 0, 0.1);
            padding: 30px;
            padding-left: 180px;
            position: relative;
            
            .author-profile {
               position: absolute;
               left: 30px;
               top: 30px; 
               width: 180px;
               text-align: center;
               
            }
            .author-info {
                .name {
                   font-size: 20px;
                   margin-top: 0;
               }
               .job-title {
                   margin-bottom: 30px;
                   color: rgba(256, 256, 256, 0.5);
               }
               .social {
                   font-size: 18px;
                   .social-list {
                       margin-bottom: 0;
                       margin-top: 0;
                   }
               }
            }
        }
        .comment-area {
            margin-top: 60px;
            .title {
                font-size: 28px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .comment-container {
                margin-bottom: 60px;
                .comment-item {                
                    margin-bottom: 60px;
                    .comment-item-box {
                        position: relative;
                        background: rgba(0, 0, 0, 0.1);
                        border: 1px solid rgba(256, 256, 256, 0.2);
                        padding: 30px;
                        padding-left: 115px; 
                        margin-bottom: 15px;
                    }
                    .comment-author {
                        position: absolute;
                        left: 30px;
                        top: 30px;
                        img {
                            width: 60px;
                            height: 60px;   
                            border: 3px solid rgba(255, 255, 255, 0.9);       
                        }
                    }
                    .comment-body {
                        .name {
                            color: rgba(256, 256, 256, 0.8);
                            font-style: normal;
                            a {
                                color: #fff
                            }
                        }
                        .time {
                            color: rgba(256, 256, 256, 0.5);
                            font-size: 13px;
                            margin-bottom: 15px;
                        }
                        .comment-reply-link {
                            padding: 5px 10px;
                            font-size: 13px;
                            position: absolute;
                            right: 30px;
                            top: 30px;
                            .opacity(0.5);
                            &:hover {
                                .opacity(1);
                            }
                        }
                    }
                    .children {
                        padding-left: 30px;
                    }
                }
            }
            .comment-form {
                .error {
                    color: @error;
                    font-family: arial, sans-serif;
                    display: block;
                    font-size: 14px;
                    text-align: left;
                    padding-top: 5px;            
                    font-weight: 300;
                }
            }
        }
    }
}

.rrssb-buttons {
    li {
        margin-bottom: 15px;
    }
}

/* ======= Contact page ======== */
.contact-methods {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-bottom: 0;
    margin-bottom: 60px;
    .item {
        .item-inner {
            border: 1px solid rgba(256, 256, 256, 0.5);
            padding: 30px;
            margin-bottom: 30px;
            li {
                margin-bottom: 10px;
                a {
                    color: #fff;
                }
            }
        }
        .subtitle {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 28px;
            padding: 5px;
            padding-top: 0;
            padding-bottom: 15px;
            border-bottom: 2px solid rgba(256, 256, 256, 0.8);
        }
        .pe-icon {
            font-size: 36px;
            position: relative;
            top: 3px;
            margin-right: 10px;
            display: inline-block;
        }
    }
}

.form-section {
    margin-bottom: 60px;
    .contact-form-inner {
        padding: 60px 60px;
        background: rgba(0, 0, 0, 0.1);
        .subtitle {
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 28px;
        }
        .reason-label {
            font-weight: 500;
            text-align: left;
            margin-bottom: 10px;
            display: block;
        }
        .btn {
            margin-top: 15px;
        }
    }
}

.map-section {
    margin-bottom: 60px;
    .subtitle {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 28px;
    }
    .address {
        margin-bottom: 30px;
    }
}


.map-section {
    
    .gmap-wrapper-inner {
        background: rgba(0, 0, 0, 0.1);
        padding: 60px;
        margin-bottom: 60px;
    }
    
    .gmap-box {
        border: 1px solid rgba(256, 256, 256, 0.5);
        padding: 15px;
    }
    
    .gmap-box-inner {
        position: relative;
        padding-bottom: 70%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

}


/* ======= 404 page ======== */
.page-404 {
    .title-404 {
        font-size: 100px;
        font-weight: 300;
    }
    .btn-back-home {
        margin-top: 30px;
    }
    .article {
        min-height: 700px;
    }
}


/* ======= Modal ======= */
.modal {
    .modal-dialog {
       width: 720px; 
       margin-top: 90px;
       max-width: inherit !important;
    }
    .modal-content {
        .border-radius(0);
    }
    
    .modal-header {
        border: none;
        padding: 0;  
        position: relative;          
    }
    
    button.close {
        font-size: 36px;
        font-weight:300;
        text-shadow:none;
        color: rgba(256, 256, 256, 0.7);
        .opacity(1);
        background: none;
        position: absolute;
        right: 0px;
        bottom: 20px;
        z-index:10;
        &:hover {
            color: #fff;
            .opacity(1);
        }
        &:focus {
            outline: none;
        }
    }
    &.modal-video {
        
        .modal-dialog {
            max-width: inherit !important;
        }

        .modal-body {
            padding: 0;
            padding-top: 0;
        }
        
        .modal-content {
            background: none;
            border: none;
            .box-shadow(none);
        }   
        
        button.close { 
            right: 0px;
            bottom: 0px;
        }    

    }
    &.modal-member {
        .modal-header {
            border: none;        
        }

        .modal-body {
            padding: 30px;
            .figure {
                margin-bottom: 30px;
            }
            .name {
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 20px;
            }
            .job-title {
                color: @grey;
                margin-bottom: 15px;
                font-size: 0.8rem;
            }
            .social {
                margin-top: 30px;
                .fa {
                    font-size: 20px;
                }
            }
        }
    }
    &.modal-login, &.modal-signup {
        
        .modal-dialog {
            width: 460px;
        }
        .modal-header {
            border: none;
        }
        .modal-body {
            padding: 30px;
            .title {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 24px;
                font-weight: 300;
            }
        }
        .modal-footer {
            padding: 30px;
            background: #fff;
            .border-radiuses (0, 4px, 4px, 0);
            text-align: center;
            
            p {
                color: @text-color;
                font-size: 14px;
                margin-bottom: 0;
            }
            
            a {
                color: lighten(@color, 30%);
                &:hover {
                    color: lighten(@color, 20%);
                }
            }
        }
    
        
        .form-group {
            position: relative;
            &.email {
                &:before {
                    content: "\f007";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    left: 10px;
                    top: 12px;
                    color: @grey;
                }
            }
            &.password {
                &:before {
                    content: "\f023";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    left: 10px;
                    top: 12px;
                    color: @grey;
                }
            }
        }
        .form-control {
            font-size: 16px;   
            padding-left: 30px;   
            background: #fff;
            border-color: @divider;   
            color: @text-color;
            .placeholder(@grey);  
            font-size: 14px;   
        }
        .social-login {
            ul {
                margin-bottom: 30px;
            }
            
            li {
                margin-bottom: 15px;
                .btn {
                    color: #fff;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    font-size: 14px;
                    &:hover {
                        color: #fff;
                    }
                }
                .btn .fa{
                    font-size: 18px;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                }
            }
            margin-bottom: 15px;
        }
        .twitter-btn {
            background: @twitter;
            &:hover {
                background: darken(@twitter, 10%);
            }
        }
        .facebook-btn {
            background: @facebook;
             &:hover {
                background: darken(@facebook, 10%);
            }
        }
        .google-btn {
            background: @google;
             &:hover {
                background: darken(@google, 10%);
            }
        }
        .forgot-password {
            font-size: 13px;
            margin-top: 10px;
            a {
                color: @grey;
                &:hover {
                    text-decoration: underline;
                    color: @color;
                }
            }  
        }
        .divider {
            text-align: center;
            position: relative;
            margin-bottom: 30px;
            color: @grey;
            text-transform: uppercase;
            span {
                background: #fff;
                display: inline-block;
                padding: 0 10px;
                position: relative;
                font-size: 14px;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 12px;
                background: lighten(@grey, 30%);
                height: 1px;
                width: 100%;
            }

        }
        .btn-submit {
            background: lighten(@color, 30%);
            color: #fff;
            &:hover, &:focus, &:active {
                background: lighten(@color, 20%);
                color: #fff;
            }
        }
        .note {
            color: @grey;
            font-size: 13px;
            margin-bottom: 30px;
        }
        .btn+.note {
            margin: 15px 0;
        }
        .remember  {
            label {
                font-size: 14px;
                color: @text-color;
            }
            
        }
    }
}

.modal-backdrop.in {
    //.opacity(0.9);
}
