<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "title" . }}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/bootstrap/css/bootstrap.min.css">

    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/jasny-bootstrap/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/font-awesome/css/font-awesome.css">  
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/pe-icon-7-stroke/css/helper.css">   
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/owl-carousel/owl.theme.css">       
    <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/fullPage.js/jquery.fullPage.css">
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
</head>

<body class="{{ if .Page.IsHome }}homepage{{ else }}{{ lower .Page.Section }}-page{{ end }}">
    {{ partial "nav.html" . }}

    <div class="canvas-wrapper"> 
        {{ partial "header.html" . }}

        {{ block "main" . }}
        {{ end }}

        {{ partial "footer.html" . }}
    </div><!--//canvas-wrapper-->
    
    {{ block "extras" . }}
    {{ end }}

    <!-- Main Javascript -->          
    <script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}plugins/popper.min.js"></script> 
    <script type="text/javascript" src="{{ .Site.BaseURL }}plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="{{ .Site.BaseURL }}plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>                                                           
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/main.js"></script>

    {{ block "page-js" . }}
    {{ end }}
</body>
</html> 
