            <!-- ******Benefits Section****** -->
            {{ range .Site.Params.benefits }}
            <section id="benefit-{{ .key }}" class="benefit-{{ .key }} section gradient-{{ .gradient }} has-pattern">
                <div class="section-inner">
                    <div class="container text-center">
                        <div class="row">
                            <div class="content {{ if isset . "screenshotLink" }}col-lg-7 col-md-6 {{ end }}col-12 {{ if modBool .key 2 }}order-md-12{{ end }}">
                                <div class="content-inner">
                                    <span class="pe-icon pe-7s-{{ .icon }} pe-4x"></span>
                                    <h2 class="title text-center">{{ .title }}</h2>
                                    <p class="intro text-center">{{ .description }}</p>
                                </div><!--//content-inner-->
                                
                                {{ with .testimonial }}
                                <div class="testimonial text-center">                                          
                                    <div class="quote-container">
                                        <i class="fa fa-quote-left"></i>
                                        <blockquote class="quote">
                                            {{ .text }}
                                        </blockquote>
                                        <div class="source">
                                            <img class="profile" src="{{ .avatarLink }}" alt="" />
                                            <p class="meta">
                                                <span class="source-name"><a href="#">{{ .author }}</a></span>
                                                <span class="source-title">{{ .city }}, {{ .country }}</span>
                                            </p>
                                        </div><!--//source-->
                                    </div><!--//quote-container-->                    
                                </div><!--//testimonial-->
                                {{ end }}
                            </div><!--//content-->

                            {{ if isset . "screenshotLink" }}
                            <div class="device device-iphone col-lg-4 col-md-6 col-12 {{ if modBool .key 2 }}order-md-1{{ end }}">     
                                <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                    <div class="device-holder-inner">
                                        <img class="img-fluid" src="{{ .screenshotLink }}" alt="">
                                    </div><!--//device-holder-inner-->  
                                </div><!--//device-holder-->                  
                            </div><!--//phone-holder-->     
                            {{ end }}                    
                        </div><!--//row-->
                    </div><!--//container-->
                </div><!--//section-inner-->
            </section><!--//benefit-{{ .key }}-->
			{{ end }}
			