<ul class="list-unstyled download-buttons">
    {{ range .Site.Params.stores }}
    {{ $className := delimit (split (lower .name) " ") "-" }}
    <li class="{{ $className }}"><a href="{{ .link }}"><img class="img-fluid d-block" src="images/buttons/btn-{{ $className }}.png" alt="Download from {{ .name }}" /></a></li>
    {{ end }}
</ul><!--//list-unstyled-->