<div class="download text-center">
    <div class="container">
		<h3 class="title">{{ safeHTML .Site.Params.download.title }}</h3>
		
        <ul class="list-inline download-list">
            {{ range .Site.Params.stores }}
            <li class="list-inline-item"><a class="btn btn-cta btn-cta-primary" href="#"><i class="fa fa-{{ .icon }}"></i><span class="text">Download for {{ .platform }}</span></a></li>
            {{ end }}
		</ul>
		
        <figure class="qr-holder">
            <img src="images/buttons/QR-code.png" alt="" />
            <figcaption class="caption">Scan the QR code to download</figcaption>
		</figure>
    </div><!--//container-->
</div><!--//download-->