        <!-- ******FOOTER****** --> 
        <footer class="footer">
            <div class="container text-center">
                <nav class="links">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="about.html">About</a></li>
                        <li class="list-inline-item"><a href="press.html">Press</a></li>
                        <li class="list-inline-item"><a href="pricing.html">Pricing</a></li>
                        <li class="list-inline-item"><a href="faqs.html">FAQs</a></li>
                        <li class="list-inline-item"><a href="jobs.html">Jobs</a></li>
                        <li class="list-inline-item"><a href="blog.html">Blog</a></li>
                        <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                    </ul>                    
                </nav>

                {{ partial "social_icons.html" . }}
                
                <ul class="links legal-links list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="last list-inline-item"><a href="#">Terms</a></li>
                </ul><!--//legal-links-->
                <small class="copyright">Template Copyright &copy; <a href="http://themes.3rdwavemedia.com/">3rd wave Media</a></small>
                
            </div><!--//container-->
		</footer><!--//footer-->
		