        <!-- ******HEADER****** --> 
        <header id="header" class="header fixed-top">  
            <div class="container">
                <h1 class="logo">
                    <a href="{{ .Site.BaseURL }}">{{ upper .Site.Title }}</a>
                </h1><!--//logo-->
                <div class="social-container text-center">
                    {{ partial "social_icons.html" . }}
                </div>            
                
                <div class="navbar-wrapper">
                    <span class="navbar-label">MENU</span>
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-recalc="false" data-canvas="body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!--//navbar -->
            </div><!--//container-->
        </header><!--//header-->   