<!-- Fullpage.js -->
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/fullPage.js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/fullpage-custom.js"></script> 

<!-- Owl Carousel -->
<script type="text/javascript" src="{{ .Site.BaseURL }}plugins/owl-carousel/owl.carousel.js"></script> 
<script type="text/javascript" src="{{ .Site.BaseURL }}js/owl-custom.js"></script> 

<!-- Modal video -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/modal-video.js"></script>