<nav id="myNavmenu" class="navbar navmenu navmenu-default navmenu-fixed-right text-center d-block" role="navigation">
    <ul class="list-unstyled menu-links">
        <li class="nav-item active"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="about.html">About</a></li>
        <li class="nav-item"><a href="press.html">Press</a></li>
        <li class="nav-item"><a href="pricing.html">Pricing</a></li>
        <li class="nav-item"><a href="faqs.html">FAQs</a></li>
        <li class="nav-item"><a href="jobs.html">Jobs</a></li>
        <li class="nav-item"><a href="job-single.html">Job Single</a></li>
        <li class="nav-item"><a href="blog.html">Blog</a></li>
        <li class="nav-item"><a href="blog-post.html">Blog Post</a></li>
        <li class="nav-item"><a href="contact.html">Contact</a></li>
        <li class="nav-item last"><a href="404.html">404</a></li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="index.html">iPhone (Gold)</a></li>
                <li><a href="index-iphone-2.html">iPhone (Black)</a></li>
                <li><a href="index-android.html">Android</a></li>                   
            </ul>                            
        </li><!--//dropdown--> 
	</ul>
	
    {{ partial "social_icons.html" . }}
	
	{{ partial "download_buttons.html" . }}
    
</nav>