{{ if .Site.Params.press.enable }}
<div class="press text-center">
    <div class="press-inner">
        <div class="container text-center">
            <h2 class="title">As featured on...</h2>
            <div class="press-list row">
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-1.png" alt=""></a></div>
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-2.png" alt=""></a></div>
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-3.png" alt=""></a></div>                         
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-4.png" alt=""></a></div>
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-5.png" alt=""></a></div>
                <div class="col-lg-2 col-md-4 col-6"><a href="press.html"><img class="img-fluid d-inline-block" src="images/press/logo-6.png" alt=""></a></div>
            </div><!--//press-list"-->
        </div><!--//container-->
    </div><!--//press-inner-->
</div><!--//press-->
{{ end }}