            <!-- ******Promo Section****** -->
            <section id="promo" class="promo section gradient-{{ .Site.Params.promo.gradient }}">
                <div class="container">
                    <div class="row">                                      
                        <div class="intro-area col-lg-4 col-12">
                            <h2 class="title">{{ .Site.Params.promo.title }}</h2>
                            <p class="intro">{{ .Site.Params.promo.description }}</p>

                            {{ with .Site.Params.video }}
                            <div class="video-container">
                                <img src="{{ .thumbnail }}" alt="video" />
                                <a class="play-trigger" href="#modal-video" data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><i class="fa fa-play"></i></a>
                            </div><!--//video-container-->
                            {{ end }}
                        </div><!--//intro-area-->
                        <div class="clearfix d-none d-sm-block d-md-block"></div>
                        <div class="download-area col-lg-4 col-md-6 col-12 order-md-12">

                            {{ partial "download_buttons.html" . }}

                            <ul class="list-unstyled summary">
                                {{ range $index, $benefit := .Site.Params.benefits }}
                                <li><i class="fa fa-check"></i> <a href="#benefit{{ add $index 1 }}">{{ $benefit.title }}</a></li>
                                {{ end }}
                                <li><i class="fa fa-check"></i> <a href="#download">Trusted by many</a></li>
                            </ul><!--//list-unstyled-->
                        </div><!--//download-area--> 
                        <div class="clearfix d-md-block d-none"></div>
                        <div class="device device-iphone text-center col-lg-4 col-md-6 col-12 order-md-5">     
                            <div class="device-holder iphone-holder iphone-gold-holder offset-top">                 
                                <div class="device-holder-inner">
                                    <div id="home-slideshow" class="owl-carousel owl-theme"> 
                                        {{ range .Site.Params.promo.screenshotLinks }}
                                        <div class="item"><img class="img-fluid" src="{{ . }}" alt=""></div>
                                        {{ end }}                      
                                    </div><!--//slideshow-->
                                </div><!--//device-holder-inner-->  
                            </div><!--//device-holder-->                  
                        </div><!--//phone-holder--> 
                    </div><!--//row-->
                    <div class="arrow-holder text-center">
                        <p class="lead-text"><a href="#benefit1">Find out more</a></p>
                        <a href="#benefit1" class="animate pe-7s-bottom-arrow pe-3x"></a>
                    </div><!--//arrow-holder-->
                </div><!--//container-->            
            </section><!--//promo-->