<ul class="social-icons list-inline">
    {{ range $key, $value := .Site.Params.socialLinks }}
    <li class="list-inline-item"><a href="{{ $value }}"><i class="fa fa-{{ $key }}"></i></a></li>
    {{ end }}
</ul> 